doctype html
html 
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 #{title}
        h2 minerals
        a(href="/update-cobj") add a minerals
        table 
            tr
                th Mineral Name
                th Name
                th Symbol
                th Atomic Number
                
            each minerals in data 
                tr
                    td= minerals.properties.mineral_name
                    td= minerals.properties.name
                    td= minerals.properties.symbol
                    td= minerals.properties.atomic_number